#duckTitle{
    font-size: 30px;
    /* margin: 0% 20% 0% 20%; */
}
#duck{
    /* margin: 0% 20% 0% 20%; */
    height: 70%;
    width:100%;
}
#chat{
    height: 14%;
    bottom: 0%;
    left:0%;
    right:0%;
    position: absolute;
    width:100%;
}
#chatWindow{
    position:absolute;
    bottom: 0%;
    right: 5%;
    background-color:white;
    color:green;
    width:300px;
    height: 50%;
    border:1px solid black;
}
#msgarea{
    height: 100%;
    width:100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: absolute;
}
#msgs{
    height:78%;
    left:0%;
    right:0%;
    position: absolute;
    top:8%;
}
body{
    overflow-y: hidden;
}
.txtArea::placeholder{
    color:grey;
    font-size: 1em;
}
.txtArea::-moz-placeholder{
    color:grey;
    font-size: 1em;
}
#txt{
    width: 100%;
    height:100%;
    resize:none;
    border: none;
    border-top:1px solid black;
    color:black;
}
.msg-send{
    border: 1px solid black;
    color:white;
    background-color:rgb(0, 132, 255);
    margin:3% 2% 3% 30%;
    text-align: right;
    border-radius: 5px 5px 0px 5px;
    font-size: medium;
    padding: 1%;
}

.msg-rec{
    border: 1px solid black;
    color:cadetblue;
    background-color: transparent;
    margin:3% 30% 3% 2%;
    font-size:medium;   
    text-align: left;
    border-radius: 5px 5px 5px 0px;
    padding:1%;
}
#chatHead{
    /* border: 1px solid black; */
    background-color: #428bca;
    color:white;
    font-weight: bold;
    left:0%;
    right:0%;
    width:100%;
    position: absolute;
    height: 8%;
    text-align:left;
    display:table;
}
#spn
{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width:80%;
    height:8%;
}

#thumbnail{
    height:100%;
    width:20%;
    position: absolute;
    border-radius: 50%;
    /* display:table-cell; */
}
#ico{
    height:95%;
    width:80%;
    background-color:white;
    border-radius: 50%;
}